* {
  box-sizing: border-box;
}

body {
  background:#66a6ff;
}

.converter-container {
  background: white;
  padding: 20px;
  width: 320px;
}

.converter-container h1 {
  font-size: 20px;
  color: #333;
}

.converter label {
  text-align: left;
  font-weight: bold;
  color: #444;
}

.converter input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  font-size: 20px;
}


